@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body#index{
  background-image: url('https://wallpaperaccess.com/full/253322.jpg');
  background-size: cover;
  
}

main{
  padding-top: 50px;
}

body#index nav{
  position: relative;
}

nav{
  position: fixed;
  width: 100%;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: right;
}

nav ul li i {
  font-size: 15px;
}
nav ul li a.disabled i  {
  margin-right: 5px;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  margin: 5px;
  padding: 8px;
  text-decoration: none;
}

nav li a:hover {
  color: #1976d2;
}

nav li a.disabled{
  pointer-events: none;
  cursor: default;
}
/*Main*/
main a{
  text-decoration: none;
  color: black;
}

main a:hover{
  color: #1976d2;
}
.elimina:hover{
  color: #d32f2f;
}
.afegir:hover{
  color: #388e3c;
}
.modificar:hover{
  color: #fbc02d;
}

strong{
  color: #1976d2;
}
/*Login Form*/

.wrapper {
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  margin: 15px auto;
  }
  .wrapper .title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: #1976d2;
  }
  .wrapper form {
  padding: 10px 30px 50px 30px;
  }
  .wrapper form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
  }
  .wrapper form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
  }
  .wrapper form .field input:focus,
  form .field input:valid {
    border-color: #1976d2;
  }
  .wrapper form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }
  form .field input:focus ~ label,
  form .field input:valid ~ label {
    top: 0%;
    font-size: 16px;
    color: #1976d2;
    background: #fff;
    transform: translateY(-50%);
  }
  form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
  }
  form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  form .content input {
    width: 15px;
    height: 15px;
    background: blue;
    z-index: 1;
  }
  form .content label {
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }
  .wrapper form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: #1976d2;
    transition: all 0.8s ease;
  }
  form .field input[type="submit"]:active {
    transform: scale(0.8);
  }

  form .field input[type="checkbox"]{
    margin-left: 100px;
  }

  /*Flex Icons*/
  .options-flex {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row-reverse;*/
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .option-title {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: row-reverse;*/
    width: auto;
    height: auto;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .option {
      width: 250px;
      height: 250px;
      text-align: center;
      margin: 5px;
  }

  .option-list {
    width: auto;
    text-align: center;
    margin: 5px;
}


  .option-icon {
      padding: 10px 10px 10px 10px;
      font-size: 125px;
      align-items: center;
  }

  .option-p {
      font-size: 18px;
      color: black;
  }

  .option-list ul li{
    list-style: none;
    text-align: left;
  }

  /*Taules*/
  table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 90%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table tr th#colspan{
    text-align: center;
  }

  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1976d2;
    color: white;
  }


  /*INPUT HIDDEN*/
  .hidden{
    display: none;
  }